In [1]:
#Importando as configurações de Conexão

In [2]:
import Connection

In [3]:
#Instalando o Conector Mysql

In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\guilh\appdata\local\programs\python\python312\lib\site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
#Importando Bibliotecas

In [6]:
import mysql.connector as sql

In [7]:
#Conectando com o Servidor MySQL

In [8]:
conexao = sql.CMySQLConnection(host='localhost',
                                   user=Connection.User(),
                                   password=Connection.Password(),
                                   database='uber')

In [9]:
cursor = conexao.cursor()

In [10]:
#Total de Corridas por Dia da Semana

In [11]:
query = "select dayname(dia), count(idCorrida) from corridas \
group by dayname(dia) \
order by count(idCorrida) desc;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Dia: {linha[0]}, Total de corridas: {linha[1]}")

Dia: Monday, Total de corridas: 21644
Dia: Saturday, Total de corridas: 21542
Dia: Wednesday, Total de corridas: 21413
Dia: Sunday, Total de corridas: 21398
Dia: Friday, Total de corridas: 21397
Dia: Tuesday, Total de corridas: 21391
Dia: Thursday, Total de corridas: 21215

In [12]:
#Os cinco dias com a maior quantidade de corridas

In [13]:
query = "select dia, count(idCorrida) from corridas \
group by Dia \
order by count(idCorrida) desc \
limit 5;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Dia: {linha[0]}, Total de corridas: {linha[1]}")

Dia: 2024-11-16, Total de corridas: 462
Dia: 2024-05-09, Total de corridas: 456
Dia: 2024-09-18, Total de corridas: 456
Dia: 2024-01-26, Total de corridas: 452
Dia: 2024-02-06, Total de corridas: 452

In [14]:
#Horario de Pico

In [15]:
query = "select hour(Horario), count(idCorrida) from corridas \
group by hour(Horario) \
order by count(idCorrida) desc \
limit 3;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Hora: {linha[0]}, Total de corridas: {linha[1]}")

Hora: 18, Total de corridas: 12397
Hora: 19, Total de corridas: 11047
Hora: 17, Total de corridas: 11044

In [16]:
#Preço médio das viagens

In [17]:
query = "select avg(valorViagem) from corridas;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Preço médio da viagem: {linha[0]}")

Preço médio da viagem: 508.2959

In [18]:
#Distância média das viagens

In [19]:
query = "select avg(distanciaViagem) from corridas;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Distancia média das viagens: {linha[0]}","Km")

Distancia média das viagens: 24.6434 Km

In [20]:
#Locais de inicio mais comuns

In [21]:
query = "select localInicio, count(idCorrida) from corridas \
group by localInicio \
order by count(idCorrida) desc \
limit 5;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Local de inicio: {linha[0]}, Total de corridas: {linha[1]}")

Local de inicio: Khandsa, Total de corridas: 949
Local de inicio: Barakhamba Road, Total de corridas: 946
Local de inicio: Saket, Total de corridas: 931
Local de inicio: Badarpur, Total de corridas: 921
Local de inicio: Pragati Maidan, Total de corridas: 920

In [22]:
#Locais de chegada mais comuns

In [23]:
query = "select localFim, count(idCorrida) from corridas \
group by localFim \
order by count(idCorrida) desc \
limit 5;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Local de chegada: {linha[0]}, Total de corridas: {linha[1]}")

Local de chegada: Ashram, Total de corridas: 936
Local de chegada: Basai Dhankot, Total de corridas: 917
Local de chegada: Lok Kalyan Marg, Total de corridas: 916
Local de chegada: Narsinghpur, Total de corridas: 913
Local de chegada: Cyber Hub, Total de corridas: 912

In [24]:
#Tipo de veículo, total de corridas e avaliação do veículo

In [25]:
query = "select veiculo, count(idCorrida), avg(notaMotorista) from corridas \
group by veiculo \
order by count(idCorrida) desc;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Veículo: {linha[0]}, Total de corridas: {linha[1]}, Avaliação do veículo: {linha[2]}")

Veículo: Auto, Total de corridas: 37419, Avaliação do veículo: 4.2318
Veículo: Go Mini, Total de corridas: 29806, Avaliação do veículo: 4.2253
Veículo: Go Sedan, Total de corridas: 27141, Avaliação do veículo: 4.2297
Veículo: Bike, Total de corridas: 22517, Avaliação do veículo: 4.2312
Veículo: Premier Sedan, Total de corridas: 18111, Avaliação do veículo: 4.2368
Veículo: eBike, Total de corridas: 10557, Avaliação do veículo: 4.2227
Veículo: Uber XL, Total de corridas: 4449, Avaliação do veículo: 4.2289

In [26]:
#Cancelamentos pelo passageiro

In [27]:
query = "select motivoCancelamentoCliente, count(idCorrida) from corridas \
where motivoCancelamentoCliente is not null \
group by motivoCancelamentoCliente \
order by count(idCorrida) desc;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Motivo do cancelamento: {linha[0]}, Total: {linha[1]}")

Motivo do cancelamento: Endereço Errado, Total: 2362
Motivo do cancelamento: Mudança de Planos, Total: 2353
Motivo do cancelamento: Motorista não estava se dirigindo ao local de inicio, Total: 2335
Motivo do cancelamento: Motorista pediu para cancelar, Total: 2295
Motivo do cancelamento: Ar Condicionado Não Funcionando, Total: 1155

In [28]:
#Cancelamentos pelo Motorista

In [29]:
query = "select motivoCancelamentoMotorista, count(idCorrida) from corridas \
where motivoCancelamentoMotorista is not null \
group by motivoCancelamentoMotorista \
order by count(idCorrida) desc;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Motivo do cancelamento: {linha[0]}, Total: {linha[1]}")

Motivo do cancelamento: Problema com o cliente, Total: 6837
Motivo do cancelamento: Cliente tossindo ou doente, Total: 6751
Motivo do cancelamento: Problema pessoal ou relacionado ao carro, Total: 6726
Motivo do cancelamento: Número de pessoas acima do permitido, Total: 6686

In [30]:
#Tempo médio de Espera

In [31]:
query = "select avg(tempoMedioEspera) from corridas;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Tempo médio de espera: {linha[0]}")

Tempo médio de espera: 8.5067

In [32]:
#Tempo médio de Viagem

In [33]:
query = "select avg(tempoMedioViagem) from corridas;"
cursor.execute(query)
resultados = cursor.fetchall()
for linha in resultados:
    print(f"Tempo médio de viagens: {linha[0]}")

Tempo médio de viagens: 29.2008

In [34]:
cursor.close()
conexao.close()

In [35]:
print("Conexão Encerrada")

Conexão Encerrada